@layer components {
  // * BUTTON - BASIC
  .button {
    @apply inline-flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 relative;

    &.--outline {
      @apply border-1 border-solid border-gray-400 bg-white rounded-s rounded-e;
      &:hover {
        @apply border-current;
      }
    }

    &.--close {
      @apply w-5 h-5 justify-center items-center;
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1rem" height="1rem" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M13.414 12l5.293-5.293l-1.414-1.414L12 10.586L6.707 5.293L5.293 6.707L10.586 12l-5.293 5.293l1.414 1.414L12 13.414l5.293 5.293l1.414-1.414L13.414 12z"%2F%3E%3C%2Fsvg%3E');
      background-size: contain;
    }
    
    &.--solid {
      @apply text-white;
    }

    &.--tonal {
      @apply bg-gray-200 text-gray-700;
      &:hover {
        @apply bg-gray-300;
      }
    }

    &.--circular {
      @apply w-12 h-12 flex items-center justify-center bg-gray-300 text-white rounded-full hover:bg-gray-400;
    }

    &.--text {
      @apply text-blue-600 hover:underline;
    }

    &.--xsmall {
      @apply text-xs px-2;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }

    &.--small {
      @apply text-sm px-3;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
    }

    &.--medium {
      @apply px-4 border-solid rounded-s rounded-e border-1;
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.5rem 0.75rem;
      font-weight: semi-bold;
    }

    &.--medium-large {
      @apply px-4 border-solid rounded-md rounded-e border-1;
      font-size: 1rem;
      line-height: 1.25rem;
      padding: 0.5rem 0.75rem;
      font-weight: semi-bold;
      min-width: 8rem;
      height: 2.75rem;
    }

    &.--large {
      @apply text-lg px-5 py-3 rounded-lg;
    }

    &.--active {
      @apply bg-green-100 border-primary-500 text-primary-500 font-bold;
    }
  }

  // * BUTTON - FOLDABLE
  .button-foldable {
    @apply bg-gray-200 rounded-full w-4 h-4 bg-no-repeat bg-center bg-contain;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"%2F%3E%3C%2Fsvg%3E');
    background-size: 1rem 1rem;

    &:hover {
      @apply bg-gray-300;
    }

    &[aria-expanded="true"] {
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M19 12.998H5v-2h14z"%2F%3E%3C%2Fsvg%3E');
    }
  }

  // * SIDE BUTTON
  .side-buttons {
    > li {
      &.--active {
        a {
          @apply bg-primary-500 text-white;

          &:after {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M8.025 22L6.25 20.225L14.475 12L6.25 3.775L8.025 2l10 10z"%2F%3E%3C%2Fsvg%3E');
          }
        }
      }

      a {
        @apply text-gray-darker font-semibold flex items-center py-2 px-6 w-full text-lg rounded-full;

        &:after {
          content: "";
          @apply inline-flex w-4 h-4 ml-auto;
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M8.025 22L6.25 20.225L14.475 12L6.25 3.775L8.025 2l10 10z"%2F%3E%3C%2Fsvg%3E');
          background-size: 1rem;
        }
      }
    }
  }
}
