<aside id="contentFilter" class="basis-full lg:basis-3/12">
  <div id="mainFilterToggle" class="lg:hidden">
    <button class="flex items-center button --outline --small space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4"/></svg>
      <span>
        마이페이지 메뉴
      </span>
    </button>
  </div>
  <div id="mainFilter" class="cards flex flex-col space-y-4 max-lg:hidden max-lg:mt-4">
    <div class="card px-4 py-8">
      <nav>
        <ul class="side-buttons space-y-2">
          <li class="--active">
            <a href="">마이페이지</a>
          </li>
          <li>
            <a href="">주문관리</a>
          </li>
          <li>
            <a href="">교환관리</a>
          </li>
          <li>
            <a href="">반품관리</a>
          </li>
          <li>
            <a href="">배송지관리</a>
          </li>
          <li>
            <a href="">입금관리</a>
          </li>
          <li>
            <a href="">회원정보</a>
          </li>
          <li>
            <a href="">1:1 문의</a>
          </li>
        </ul>
      </nav>
    </div>
    
  </div>
</aside>