<%- include("../_includes/head") %>

<main id="main" class="w-full %>">
  <div id="mainContent" class="py-11"><%- content %></div>
  <div id="screenShadow"></div>
</main>

<%- include("../_includes/foot") %>
