---
layout: layout-mypage
pageTitle: 마이페이지 - 주문 관리
---

<div
  id="contentWrapper"
  class="px-4 flex flex-wrap lg:flex-nowrap space-x-0 lg:space-x-4 container mx-auto w-full"
>
  <%- include("../_includes/aside-content-mypage") %>
  <div class="content-section flex-grow md:w-auto w-full mt-4 lg:mt-0">
    <div class="card">
      <div class="card-title flex items-center mb-4">
        <h3>주문관리</h3>
      </div>
      <div class="card-content-container w-full">
        <div id="dataFilterToggle" class="md:hidden">
          <button
            class="flex items-center button --outline --small space-x-2 mb-4"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.5rem"
              height="1.5rem"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M7 13h4v4H7zm6 0h4v4h-4z" />
              <path
                fill="currentColor"
                d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 16H5V5h14z"
              />
              <path fill="currentColor" d="M7 7h4v4H7zm6 0h4v4h-4z" />
            </svg>
            <span> 데이터 필터 </span>
          </button>
        </div>
        <form
          id="dataFilter"
          class="max-md:hidden"
          action="
          "
        >
          <div
            class="data-filter-group mb-4 flex flex-wrap space-y-4 items-end p-4 border-1 border-solid border-gray-300 rounded-lg"
          >
            <div class="data-filter-items basis-full">
              <div class="data-filter-item">
                <div
                  class="dropdown w-full flex-col flex space-y-2"
                  data-type="datepicker"
                >
                  <label for="dateStart" class="custom-label"
                    >시작일</label
                  >
                  <input
                    type="date"
                    class="dropdown-button --outline"
                    id="dateStart"
                    aria-haspopup="true"
                    aria-expanded="false"
                  />

                  <div
                    id="dropdownContent"
                    class="dropdown-content --center md:--right"
                    role="menu"
                  >
                    <ul>
                      <li role="menuitem"><a href="#">Link 1</a></li>
                      <li role="menuitem"><a href="#">Link 2</a></li>
                      <li role="menuitem"><a href="#">Link 3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="data-filter-item">
                <div
                  class="dropdown w-full flex-col flex space-y-2"
                  data-type="datepicker"
                >
                  <label for="dateEnd" class="custom-label">종료일</label>
                  <input
                    type="date"
                    class="dropdown-button --outline"
                    id="dateEnd"
                    aria-haspopup="true"
                    aria-expanded="false"
                  />

                  <div
                    id="dropdownContent"
                    class="dropdown-content --center md:--right"
                    role="menu"
                  >
                    <ul>
                      <li role="menuitem"><a href="#">Link 1</a></li>
                      <li role="menuitem"><a href="#">Link 2</a></li>
                      <li role="menuitem"><a href="#">Link 3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="data-filter-items">
              <div class="data-filter-item flex flex-col space-y-2">
                <label for="dropdownButton" class="custom-label"
                  >배송상태</label
                >
                <div class="dropdown-select --outline" data-dropdown>
                  <input
                    type="hidden"
                    name="selectedValue"
                    data-dropdown-value
                  />
                  <button
                    type="button"
                    class="dropdown-select-button"
                    aria-haspopup="listbox"
                    aria-expanded="false"
                    data-dropdown-toggle
                  >
                    전체
                  </button>
                  <ul
                    class="dropdown-select-menu hidden"
                    role="listbox"
                    data-dropdown-menu
                  >
                    <li role="option" data-dropdown-option value="1">
                      Option 1
                    </li>
                    <li role="option" data-dropdown-option value="2">
                      Option 2
                    </li>
                    <li role="option" data-dropdown-option value="3">
                      Option 3
                    </li>
                  </ul>
                </div>
              </div>
              <div class="data-filter-item flex flex-col space-y-2">
                <label for="dropdownButton" class="custom-label"
                  >원배송처</label
                >
                <div class="dropdown-select --outline" data-dropdown>
                  <input
                    type="hidden"
                    name="selectedValue"
                    data-dropdown-value
                  />
                  <button
                    type="button"
                    class="dropdown-select-button"
                    aria-haspopup="listbox"
                    aria-expanded="false"
                    data-dropdown-toggle
                  >
                    전체
                  </button>
                  <ul
                    class="dropdown-select-menu hidden"
                    role="listbox"
                    data-dropdown-menu
                  >
                    <li role="option" data-dropdown-option value="1">
                      Option 1
                    </li>
                    <li role="option" data-dropdown-option value="2">
                      Option 2
                    </li>
                    <li role="option" data-dropdown-option value="3">
                      Option 3
                    </li>
                  </ul>
                </div>
              </div>
              <div class="data-filter-item">
                <div class="text-input --outline flex-col flex space-y-2">
                  <label for="textInput" class="custom-label">검색어</label>
                  <input
                    type="text"
                    id="textInput"
                    name="textInput"
                    class="custom-text-input"
                    placeholder="검색어를 입력해 주세요"
                  />
                  <div class="menu-auto-complete" role="menu">
                    <ul>
                      <li role="menuitem"><a href="#">Link 1</a></li>
                      <li role="menuitem"><a href="#">Link 2</a></li>
                      <li role="menuitem"><a href="#">Link 3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="data-filter-submit ml-auto">
              <button
                class="button --solid --medium border-primary-500 bg-primary-500"
                aria-label="Submit"
              >
                <span class="button-text">검색하기</span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-content-container w-full">
        <div
          class="status-box mb-4 flex flex-wrap space-y-4 items-end p-4 border-1 border-solid border-gray-300 rounded-lg"
        >
          <div class="status-item">
            <label for="" class="custom-label"
              >미수금 (2000년 00월 00일 ~ 2000년 00월 00일)</label
            >
            <div class="status-content">
              <div class="amount-status">
                <div class="amount-status-item">
                  <span class="amount-status-item-tag bg-primary-500">아</span>
                  <span class="amount-status-item-title">아이온에듀</span>
                  <span class="amount-status-item-amount">0원</span>
                </div>
                <div class="amount-status-item">
                  <span class="amount-status-item-tag bg-secondary-500"
                    >레</span
                  >
                  <span class="amount-status-item-title">아이온에듀</span>
                  <span class="amount-status-item-amount">0원</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-content-container overflow-x-auto w-full">
        <div class="data-table text-xs mb-2">
          <table>
            <caption>
              데이터테이블
            </caption>
            <thead>
              <tr>
                <th>주문총금액</th>
                <th>주문번호</th>
                <th>주문상품</th>
                <th>배송비</th>
                <th>원배송처</th>
                <th>추가배송비</th>
                <th>운송장번호</th>
                <th>주문상태</th>
                <th>외상거래사용액</th>
              </tr>
            </thead>
            <tbody>
              <% dummyTableData.forEach(function(person, i) { %>
              <tr>
                <td>
                  <div class="cell-custom space-y-1">
                    <div
                      class="cell-custom-item inline-flex items-center space-x-2 text-xs"
                    >
                      <span class="amount-status-item-tag bg-primary-500"
                        >아</span
                      >
                      <span>0,000,0000원</span>
                    </div>
                    <div
                      class="cell-custom-item inline-flex items-center space-x-2 text-xs"
                    >
                      <span class="amount-status-item-tag bg-secondary-500"
                        >레</span
                      >
                      <span>0,000,0000원</span>
                    </div>
                  </div>
                </td>
                <td>주문번호</td>
                <td>주문상품</td>
                <td>배송비</td>
                <td>
                  <div class="cell-custom space-y-1">
                    <span class="cell-sub-text"> <%= person.name %> </span>
                    <span>Some Text</span>
                  </div>
                </td>
                <td><%= person.salary %></td>
                <td>
                  <a href="" class="button --text">000000000</a>
                </td>
                <td>주문상태</td>
                <td>
                  <div class="cell-custom space-y-1">
                    <div
                      class="cell-custom-item inline-flex items-center space-x-2 text-xs"
                    >
                      <span class="amount-status-item-tag bg-primary-500"
                        >아</span
                      >
                      <span>0,000,0000원</span>
                    </div>
                    <div
                      class="cell-custom-item inline-flex items-center space-x-2 text-xs"
                    >
                      <span class="amount-status-item-tag bg-secondary-500"
                        >레</span
                      >
                      <span>0,000,0000원</span>
                    </div>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
ㅣ
